[Unit]
Description=ftp transfer sendmail daemon
After=network.target vsftpd.service

[Service]
ExecStart=/etc/vsftpd/scripts/autosendmail/sendmail.py
ExecStop=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
